-- Crear base de datos
CREATE DATABASE IF NOT EXISTS colegio_db;
USE colegio_db;


-- TABLA ALUMNO

DROP TABLE IF EXISTS nota;
DROP TABLE IF EXISTS alumno;
DROP TABLE IF EXISTS materia;

CREATE TABLE alumno (
    id BIGINT AUTO_INCREMENT PRIMARY KEY,
    nombre VARCHAR(100),
    apellido VARCHAR(100),
    email VARCHAR(150),
    fecha_nacimiento DATE
);


-- TABLA MATERIA

CREATE TABLE materia (
    id BIGINT AUTO_INCREMENT PRIMARY KEY,
    nombre VARCHAR(100),
    codigo VARCHAR(50),
    creditos INT
);


-- TABLA NOTA

CREATE TABLE nota (
    id BIGINT AUTO_INCREMENT PRIMARY KEY,
    valor DOUBLE,
    fecha_registro DATE,
    alumno_id BIGINT,
    materia_id BIGINT,
    CONSTRAINT fk_alumno FOREIGN KEY (alumno_id) REFERENCES alumno(id),
    CONSTRAINT fk_materia FOREIGN KEY (materia_id) REFERENCES materia(id)
);


-- DATOS DE PRUEBA

-- Alumnos
INSERT INTO alumno (nombre, apellido, email, fecha_nacimiento) VALUES
('Juan', 'Perez', 'juan@gmail.com', '2000-01-01'),
('Ana', 'Lopez', 'ana@gmail.com', '2001-02-02'),
('Carlos', 'Gomez', 'carlos@gmail.com', '1999-05-10');

-- Materias
INSERT INTO materia (nombre, codigo, creditos) VALUES
('Matematicas', 'MAT101', 3),
('Programacion', 'PROG101', 4),
('Base de Datos', 'BD101', 3);

-- Notas
INSERT INTO nota (valor, fecha_registro, alumno_id, materia_id) VALUES
(4.5, '2025-01-10', 1, 1),
(3.8, '2025-01-12', 1, 2),
(5.0, '2025-01-15', 2, 1),
(4.2, '2025-01-20', 2, 3),
(3.5, '2025-01-22', 3, 2);